<html>
  <head>
    <title>Language Detector Webservice</title>
  </head>
  <body>
    <h1>Language Detection Web Service</h1>

    <h2> Fill in the form and press submit </h2>

    <form action="/" method="POST">
      <label for="text"/>Type your text here</label><br/>
      <textarea name="text" id="text" rows="10" cols="50"/></textarea><br/>

      <label for="kaf">
        <input type="checkbox" name="kaf" id="kaf"/>
        Output KAF instead of just the language code
      </label><br/>

      <label for="extended">
        <input type="checkbox" name="extended" id="extended"/>
        Use the extended language detection list.
      </label><br/>

      <input type="submit"/>
    </form>

    <h2> Let's write some documentation here </h2>
    <h3> Actions </h3>
    <p>
      <dl>
        <dt>POST /</dt>
        <dd>Detect the language on the input argument. See arguments listing for more options.</dd>
        <dt>GET /</dt>
        <dd>Show this page</dd>
      </dl>
    </p>

    <h3>Arguments</h3>
    <p> The webservice takes the following arguments: </p>
    <dl>
      <dt>input</dt>
      <dd>The input text</dd>
      <dt>kaf</dt>
      <dd>Output a KAF file with the language in the xml:lang attribute and the text in the raw tag</dd>
      <dt>extended</dt>
      <dd>Use the extended language list instead of the standard languages</dt>
    </dl>
    <h3>Example Usage</h3>
    <p>
      <pre>
        language-identifier-server start
        curl -d "text=this is an english text&kaf=true&exteded=true" http://localhost:9393 -XPOST
      </pre>
    outputs:
      <pre>
        &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;&lt;KAF xml:lang=&quot;en&quot;&gt;&lt;raw&gt;this is an english text&lt;/raw&gt;&lt;/KAF&gt;
      </pre>
  </body>
</html>
